.content {
    width: 800px;
    height: 550px;
    margin: 50px auto;
    background-image:url(../images/bg.png);
    background-size: 100% 100%;
}
#chessBox {
    float: left;
    position: relative;
    width: 570px;
    height: 550px;
}
.Tools {
    float: right;
    width: 26%;
    padding-top: 150px;
}
.btn{
    cursor: pointer;
    margin-top: 30px;
    z-index: 100;
    height: 35px;
    width: 135px;
    border-style: none;
    cursor: pointer;
}
#restart{
    background-image: url(../images/restart.png);
    background-color: Transparent;
}
#retract{
    background-image: url(../images/retract.png);
    background-color: Transparent;
}

.about{
    color: #773709;
    margin: 20px 10px;
}

canvas {
    position: absolute;
    margin: 40px 50px;
    border-radius: 2%;
    border: #985e0c 10px solid;
}
canvas#board{
    background: #f5e6bd;
}

table{
    position: absolute;
    border-color: #985e0c;
    margin: 25px 50px;
}
tbody{
    background: #f5e6bd;
}
td{
    padding: 0;
}
div#chess{
    position: absolute;
    width: 450px;
    height: 450px;
    margin: 25px 50px;
    border: 10px solid #985e0c;
}
